# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
**/.dev_builds/
**/blobs/
**/dev_releases/
**/deployment/*
**/dist/*
**/.final_builds/*
**/releases/*

**/tile/product/
**/tile/release/
**/tile/routing-0.178.0.tgz
**/tile/wso2am-2.1.0.tgz
