# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
**/.dev_builds/
**/blobs/
**/dev_releases/
pattern-*/bosh-release/deployment/*
**/dist/*
!**/dist/.gitkeep
**/.final_builds/*
**/releases/*

**/tile/product/
!**/tile/product/.gitkeep
**/tile/cache/*
!**/tile/cache/.gitkeep
**/tile/release/
**/tile/routing-0.178.0.tgz
**/tile/wso2am-2.6.0*
**/tile/tile-history.yml

**/bosh-release/wso2*

*blobs.yml
